<!DOCTYPE html>
<th:block th:replace="partials/head :: head"></th:block>

<body>
	<th:block th:replace="partials/header :: header"></th:block>
	<p>Here you can update the particular student's tuition. The update in this student's tuition will be the amount it will be added to/subtracted from the existing amount of tuition.</p>
	<table class="list birow">
		<thead>
			<th>Student Information</th>
		</thead>
		<tbody>
			<tr>
				<td>Student ID:</td><td class="list-body" th:text="${student._studentID}"></td>
			</tr>
			<tr>
				<td>First Name:</td><td class="list-body" th:text="${student._firstName}"></td>
			</tr>
			<tr>
				<td>Last Name:</td><td class="list-body" th:text="${student._lastName}"></td>
			</tr>				
			<tr>
				<td>Grade Year:</td><td class="list-body" th:text="${student._gradeYear}"></td>
			</tr>	
			<tr>
				<td>Update On Tuition Balance:</td>
			      <td class="list-body">
			        <form method="POST" th:action="@{/updateStudent/tuition}">
			          <input type="number" name="_tuitionUpdate" style="width: inherit;" th:value="${tuitionUpdate}">
			          <input type="hidden" name="_studentID" th:value="${student._studentID}">
			          <button type="submit">Update Balance</button>
			        </form>
			      </td>
			</tr>	
		</tbody>
	</table>
	<form action="/" th:insert="partials/goback">
	<th:block th:replace="partials/footer :: footer"></th:block>
</body>
</html>