<!DOCTYPE html>
<html lang="en">
<th:block th:replace="partials/head :: head"></th:block>
<body>
	<th:block th:replace="partials/header :: header"></th:block>
    <div class="center">
		<p>In this page you can add a new student to the database.</p>
	</div>
    
    <br>
	<form th:action="@{/addStudent}" th:object="${student}" method="post">
	    <table class="list birow">
	        <thead>
	            <th>Add New Student</th>
	        </thead>
	        <tbody>
	            <tr>
	                <td>Student ID:</td>
	                <td class="list-body">
	                    <input type="number" name="_studentID" style="width: inherit;" th:value="${student._studentID}" th:field="*{_studentID}">
	                </td>
	            </tr>
	            <tr>
	                <td>First Name:</td>
	                <td class="list-body">
	                    <input type="text" name="_firstName" style="width: inherit;" th:value="${student._firstName}" th:field="*{_firstName}">
	                </td>
	            </tr>
	            <tr>
	                <td>Last Name:</td>
	                <td class="list-body">
	                    <input type="text" name="_lastName" style="width: inherit;" th:value="${student._lastName}" th:field="*{_lastName}">
	                </td>
	            </tr>
	            <tr>
	                <td>Grade Year:</td>
	                <td class="list-body">
	                    <input type="number" name="_gradeYear" style="width: inherit;" th:value="${student._gradeYear}" th:field="*{_gradeYear}">
	                </td>
	            </tr>
	            <input type="hidden" name="_tuitionBalance" value="0" th:field="*{_tuitionBalance}"/>
	            <input type="hidden" name="_id" value="-1" th:field="*{_id}"/>
	            <tr>
	                <td>
	                    <button type="submit">Add Student</button>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</form>
	<br>
	<form action="/" th:insert="partials/goback">
	<th:block th:replace="partials/footer :: footer"></th:block>
</body>
</html>