<!DOCTYPE html>
<html lang="en">
<th:block th:replace="partials/head :: head"></th:block>
<body>
	<th:block th:replace="partials/header :: header"></th:block>
    <div class="center">
		<p>In this menu, you can delete a course that will not be offered to students anymore.</p>
	</div>
    
    <br>
    <form method="GET">
		<table>
			<thead>
				<th>Course ID</th>
			</thead>
			<tbody>
				<th><input type="number" name="courseID" th:value="${courseID}"></th>
			</tbody>
		</table>
	    <table>
			<thead>
				<th>Actions</th>
			</thead>
			
			<tbody>
				<tr><td><button type="submit" formaction="deleteCourse/confirm">Confirm Deletion</button></td></tr>
				<tr><td><button type="submit" formaction="course">Go Back</button></td></tr>
			</tbody>
		</table>
	</form>
    
	<th:block th:replace="partials/footer :: footer"></th:block>
</body>
</html>