<!DOCTYPE html>
<html lang="en">
<th:block th:replace="partials/head :: head"></th:block>
<body>
	<th:block th:replace="partials/header :: header"></th:block>
    <div class="center">
		<p>In this menu, you can delete a student that is formally disconnected from the school.</p>
	</div>
    
    <br>
    <form method="GET">
		<table>
			<thead>
				<th>Student ID</th>
			</thead>
			<tbody>
				<th><input type="number" name="studentID" th:value="${studentID}"></th>
			</tbody>
		</table>
	    <table>
			<thead>
				<th>Actions</th>
			</thead>
			
			<tbody>
				<tr><td><button type="submit" formaction="deleteStudent/confirm">Confirm Deletion</button></td></tr>
				<tr><td><button type="submit" formaction="student">Go Back</button></td></tr>
			</tbody>
		</table>
	</form>
    
	<th:block th:replace="partials/footer :: footer"></th:block>
</body>
</html>